<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.visilabs.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true">
        <activity
            android:name="com.visilabs.scratchToWin.ScratchToWinActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.visilabs.shakeToWin.ShakeToWinActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.visilabs.spinToWin.SpinToWinActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.visilabs.inApp.VisilabsInAppActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name="com.visilabs.inApp.TemplateActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name="com.visilabs.mailSub.MailSubscriptionFormActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.visilabs.story.StoryActivity"/>
    </application>

</manifest>